node_modules/
.yarn/
package-lock.json
yarn.lock


.env
.env.local
.env.development
.env.test
.env.production
.secrets
secrets.json
*.env


build/
artifacts/
cache/
coverage/
dist/
typechain/
out/
bin/


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


coverage.json
*.lcov
test-results.xml


.DS_Store
Thumbs.db
*.log
*.pid
*.pid.lock


.hardhat/
.history/


forge-std/
lib/
broadcast/
out/
cache/


.truffle-flattener
dapp/
*.pem


docs/_build/
site/